*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    height: 100vh;
}

main{
    color: black;
}

.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: rgb(239, 158, 51);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 ;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-lateral:hover{
    width: 300px;
    transition: .3s;
}

.login{
    width: 100%;
    padding-left: 10px;
}

.login > i{
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
}


ul{
    height: 100%;
    list-style-type: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

ul li.item-menu{
    transition: .3s;
}

ul li.item-menu:hover{
    background: white;
}

ul li.item-menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    margin-left: 4px;
}

ul li.item-menu a .txt-link{
    margin-left: 30px;
}

ul li.item-menu a .icon{
    font-size: 30px;
}

.header{
    margin-left: 400px;
}


.barra{
    margin-left: 230px;
    font-size: 20px;
    border-radius: 20px;
    text-align: left;
    margin-top: 50px;
}

.main-content{
    margin-top: 100px;
    margin-left: 100px;
}

.box-receita{
    border: 1px solid;
    height: 350px;
    width: 500px;
}

.box-receita img{
    width: 500px;
    height: 350px;
}

.box-reaction{
    border: 1px solid;
    height: 40px;
    width: 120px;
    margin-top: 5px;
}

.box-reaction img{
    height: 40px;
    width: 120px;
}

.box-comentario{
    border: 1px solid;
    height: 120px;
    width: 500px;
    margin-top: 5px;
}

.barra{
    background-image: url(search.svg);
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-position: 10px;
}


.procura{
    display: flex;
}
.imagem-mais{
    margin-top: 60px;
    font-size: 35px;
    margin-left: 10px;
}

.bt-search{
    height: 40px;
    margin-top: 55px;
    margin-left: 10px;
    width: 80px;
}